%div{:data => {:hook => "admin_posts_form_fields"}}
  .clearfix
    = f.field_container :title do
      = f.label :title, t(:title)
      = f.text_field :title
      = error_message_on :post, :name
    = f.field_container :description do
      = f.label :description, t(:description)
      = f.text_area :description
      = error_message_on :post, :description
    = f.field_container :published do
      = f.label :published, t(:published)
      = f.check_box :published
      = error_message_on :post, :published
