- content_for :page_title do
  = t("listing_posts")

- content_for :page_actions do
  %li
    = button_link_to t(:new_post), new_admin_post_url, :icon => 'icon-plus', :id => 'admin_new_post_link'


%table.index.responsive#listing_posts
  %colgroup
    %col{:style => "width: 20%;"}
    %col{:style => "width: 60%;"}
  %thead
    %th
      = t(:name)
    %th
      = t(:text)
    %th.actions
  %tbody
    - @posts.each do |post|
      %tr
        %td.align-center
          = link_to post.title, object_url(post)
        %td.align-center= post.description.html_safe
        %td
          = link_to_edit post
          &nbsp;
          = link_to_delete post
          &nbsp;
